@font-face {
  src: url(./momcake/Momcake-Thin.otf);
  font-family: momcakeThin;
}

@font-face {
  src: url(./momcake/Momcake-Bold.otf);
  font-family: momcakeBold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #f8d21c;
  overflow: hidden;
  font-family: momcakeBold;

  img {
    width: 45px;
  }

  header {
    width: 100%;
    background-color: #f6f6f6;
    color: #1d1d1b;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header--button {
      border: 2px solid #1d1d1b;
      padding: 1rem 2.5rem;
      transition: ease-in-out 0.25s;
      &:hover {
        cursor: pointer;
        background-color: #f8d21c;
      }
    }
    .header__icons {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        margin: 0 0.5rem;
      }
      img {
        width: 20px;
      }
    }
  }

  .Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .Main__logo {
      margin: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .logo__text {
        margin-top: 1.5rem;
        margin-left: 1rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bs {
          font-size: 8.5rem;
          line-height: 1px;
          font-family: momcakeBold;
        }

        p {
          font-size: 3rem;
          line-height: 1.8rem;
          font-family: momcakeThin;
        }
      }
      .line-one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 130px;
        border: 1px solid lime;
        border-radius: 50%;
        background-color: #f6f6f6;

        .line-two {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 128px;
          border: 4px solid #1d1d1b;
          border-radius: 50%;
        }
        .line-three {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 128px;
          border: 2px solid #be083f;
          border-radius: 50%;
        }
        .line-four {
          border: 8px solid #f6f6f6;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f8d21c;
          width: 98px;
          height: 98px;
          border-radius: 50%;
        }
      }

      img {
        width: 30px;
      }
    }

    .Main__hero-description {
      margin-top: 2rem;
      width: 80%;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      transition-duration: 0.15s;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #000;
        color: #f6f6f6;
        font-size: 12vh;
        padding: 0.5rem 1.25rem;
        margin: 0.5rem;
        white-space: nowrap;
        box-shadow: 0 2px 5vh 0 (rgb(0, 0, 0) / 90);
        line-height: 9vh;
      }

      .description__one {
        top: -5%;
        transform: rotate(-5deg);
        z-index: 99;
      }
      .description__two {
        top: 25%;
        transform: rotate(3deg);
        z-index: 99;
      }
      .description__three {
        position: absolute;
        top: 50%;
        transform: rotate(-1deg);
        z-index: 99;
      }
      .description__four {
        position: absolute;
        top: 75%;
        transform: rotate(4deg);
        z-index: 99;
      }
      .description__five {
        position: absolute;
        top: 98%;
        font-size: 8vh;
        padding: 0.015rem 1rem;
        transform: rotate(-5deg);
        z-index: 99;
      }
    }
    .Main__hero-background {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      position: absolute;
      top: 25%;
      left: 0;

      div {
        font-size: 20rem;
        color: #000;
        z-index: 80;
        letter-spacing: -12px;
      }

      .text-stroke__one {
        position: absolute;
        top: -5%;
        left: 0%;
        color: transparent;
        background-color: transparent;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
      }
      .text-stroke__two {
        position: absolute;
        top: 24%;
        left: 0%;
        color: transparent;
        background-color: transparent;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
      }

      .text-solid__one {
        position: absolute;
        top: 10%;
        left: 0%;
      }
      .text-solid__two {
        position: absolute;
        top: 38%;
        left: 0%;
      }
    }

    .Main__footer {
      position: absolute;
      top: 124%;
      width: 100%;
      min-height: 30vh;
      background: #000;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .button {
        border: 1px solid #f6f6f6;
        padding: 1.5rem 2.5rem;
        margin: 2rem 0.5rem;

        a {
          color: #f6f6f6;
          font-size: 1.5rem;
          text-decoration: none;
          list-style: none;
        }
      }
      .yellow {
        background: #f8d21c;
        a {
          color: #1d1d1b;
        }
      }
    }
  }
}
